doctype html 
html
    head
        title= "Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        #content(style='width: 500px;height: 300px;margin: auto auto 20px auto; border: solid 1px #999;overflow-y: scroll;background-color: #81A1F8;'
        )
        .controls(style='display: flex;flex-direction: column;align-items: center;background-color: lightblue;padding: 20px;')
            | Name: 
            input#name(style='width:350px;height: 30px;margin: 10px 0;border: 1px solid gray;border-radius: 5px;font-size: 18px;padding: 5px;'
            )
            br
            | Message :
            input#field(style=' width:350px;height: 30px;margin: 10px 0;border: 1px solid gray;border-radius: 5px;font-size: 18px;padding: 5px;')
            input#send(style='width: 80px;height: 40px;background-color: green;color: white;border: none;border-radius: 5px;font-size: 18px;cursor: pointer;'
            )
